* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    background-color: #2c3e50;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    text-transform: uppercase!important;
}
.main-nav {
    list-style-type: none;
}
.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-family: Montserrat;
    letter-spacing: .0625rem;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.logo {
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 2em;
    font-weight: 700; 
    font-family: Montserrat;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    font-size: 2em;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-family: Montserrat;
    letter-spacing: .0625rem;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 100px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .logo {
        margin-top: 0;
    }
   .navbar-toggle {
       display: none;
    }
    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }